* {
  padding: 0;
  margin: 0px;
  block-size: auto;
  font-family: "Lora", "Inter", sans-serif;
  cursor: url(../images/cursor/cursor1.svg), default;
}

div {
  /* border: 1px solid red; */
  margin: 10px;
}

body {
  background-color: #7285b3;
  cursor: url(../images/cursor/cursor1.svg), default;
}

.backgroundScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  margin: 0px;
  padding: 0px;
  block-size: auto;
}

.boardGame {
  width: 94%;
  max-width: 700px;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/background/background1.svg");
  background-position: center;
  border-radius: 5px;
  border: 2px solid black;
}

.enemyBox {
  width: 100%;
  height: 35%;
  display: flex;
}

.statusEnemy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
}
.statusEnemyBox {
  background: rgba(145, 163, 190, 0.5);
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 85%;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  margin: 0px;
}

.nameBlockEnemy {
  display: flex;
  align-items: center;
  width: 90%;
  height: 15%;
  margin: 0px;
  background: #d5477a;
  border-radius: 5px;
}

.nameEnemy {
  margin-left: 3px;
}
.marginRigthText {
  margin-right: 0px;
}

.classBlockEnemy {
  display: flex;
  align-items: center;
  width: 90%;
  height: 15%;
  margin: 0px;
  background: #47d5a3;
  border-radius: 5px;
}

.classEnemy {
  margin-left: 3px;
}

.levelBlockEnemy {
  display: flex;
  align-items: center;
  width: 90%;
  height: 15%;
  margin: 0px;
  background: #7285b3;
  border-radius: 5px;
}

.levelEnemy {
  display: flex;
  align-items: center;
}
.hpEnemy {
  display: flex;
  align-items: center;
  width: 100%;
  height: 20px;
  margin: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.textHP {
  margin-right: -5px;
}

.hpBarEnemy {
  background-color: white;
  height: 16px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(23, 23, 23);
}
.hpRealEnemy {
  background-color: crimson;
  height: 16px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.avatarEnemy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
}

.imageMonster {
  height: 90%;
  width: auto;
}

/* Battle Log Space */

.battleLogBox {
  width: 100%;
  display: flex;
  justify-content: right;
}
.battleLog {
  background: rgba(229, 229, 229, 0.5);
  width: 200px;
  height: 70px;
  border-radius: 5px;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textBattleLog {
  font-size: 17px;
  color: #080707;
}

/* Hero Space */

.heroBox {
  width: 100%;
  height: 35%;
  display: flex;
}

.statusHero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
}

.statusHeroBox {
  background: rgba(145, 163, 190, 0.5);
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 90%;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  margin: 0;
}

.nameBlockHero {
  display: flex;
  align-items: center;
  width: 90%;
  height: 15%;
  margin: 0px;
  background: #d5477a;
  border-radius: 5px;
}

.nameHero {
  margin-left: 3px;
}

.levelBlockHero {
  display: flex;
  align-items: center;
  width: 90%;
  height: 15%;
  margin: 0px;
  background: #7285b3;
  border-radius: 5px;
}

.levelHero {
  display: flex;
  align-items: center;
}
.hpHero {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
  height: 20px;
}

.textHp {
  margin-right: -5px;
}

.hpBarHero {
  background-color: white;
  height: 16px;
  width: 90%;
  border-radius: 5px;
  border: 1px solid rgb(23, 23, 23);
}
.hpRealHero {
  display: flex;
  background-color: crimson;
  height: 16px;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.hpRealHeroText {
  display: flex;
  height: 16px;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  z-index: 200;
  position: absolute;
}

.avatarHero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
}

.imageHero {
  height: 90%;
  width: auto;
}

.xpHero {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
  height: 20px;
}

.textXp {
  margin-right: -5px;
}

.xpBarHero {
  background-color: white;
  height: 16px;
  width: 90%;
  border-radius: 5px;
  border: 1px solid rgb(23, 23, 23);
}

.xpRealHero {
  background-color: rgb(217, 178, 21);
  height: 16px;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Action Menu */

.actionMenu {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  background-color: #d5dded;
  border-radius: 5px;
  border: 2px solid black;
}

.btn-attack {
  width: 8rem;
  height: 3rem;
  margin: 10px;
  background-color: #e0c342;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid black;
  -webkit-appearance: none;
}

.btn-hpRecovery {
  width: 8rem;
  height: 3rem;
  margin: 10px;
  background-color: #e04242;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid black;
  -webkit-appearance: none;
}

/* Tela de inicio */
.modular {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  display: flex;
  width: 100%;
  height: 700px;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  background-color: #7285b3;
  background-image: url("../images/background/backgroundStartGame.svg");
  border-radius: 5px;
  border: 3px solid black;

  width: 94%;

  max-width: 700px;
}
.defeatScreen {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  display: flex;
  width: 100%;
  height: 700px;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  background-color: #f65c5c;
  border-radius: 5px;
  border: 3px solid black;

  width: 94%;

  max-width: 700px;
}
.subtitle {
  margin: 10px;
}
.newGame {
  margin-top: 10px;
  width: 40%;
  height: 7%;
  background-color: #47d5a3;
  border: 2px solid black;
  border-radius: 5px;
  font-weight: bold;
  -webkit-appearance: none;
}

/*Ativar e desativar inicio do jogo */

.hidden {
  display: none;
}

/* Bordas */

.border1 {
  border: 2px solid black;
}
/* Animação */
.attackAnimationHero {
  animation-name: movingBoxHero;
  animation-duration: 400ms;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
@keyframes movingBoxHero {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(50px, -60px);
  }
}

.attackAnimationMonster {
  animation-name: movingBoxMonster;
  animation-duration: 400ms;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
@keyframes movingBoxMonster {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-50px, 60px);
  }
}

/* .redDisplayReceiveDamage {
  animation-name: redDisplay;
  animation-duration: 300ms;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
@keyframes redDisplay {
  0% {
    background-color: #e04242;
    opacity: 0.8;
  }

  100% {
    background-color: #e04242;
    opacity: 0;
  }
} */

.receiveDamageAnimation {
}
