* {
  padding: 0;
  margin: 0px;
  block-size: auto;
}

div {
  border: 1px solid red;
  margin: 10px;
}

.boardGame {
  width: 94%;
  height: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enemyBox {
  width: 100%;
  height: 35%;
  display: flex;
}

.statusEnemy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
}

.statusEnemyBox {
  background-color: azure;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 60%;
  align-items: center;
  justify-content: center;
}

.nameAndLevelMonster {
  display: flex;
  width: 100%;
}

.levelMonster {
  display: flex;
  align-items: center;
}
.hpMonster {
  display: flex;
  align-items: center;
  width: 100%;
}

.textHP {
  margin-right: -5px;
}

.hpBarMonster {
  background-color: crimson;
  height: 15px;
  width: 90%;
}

.avatarEnemy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
}

.imageMonster {
  height: 70%;
  width: auto;
}

.heroBox {
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.battleLog {
  width: 100%;
  height: 10%;
}

.actionMenu {
  width: 100%;
  height: 20%;
}
