* {
  padding: 0;
  margin: 0px;
  block-size: auto;
  font-family: "Lora", "Inter", sans-serif;
  font-family: "Inter", sans-serif;
  cursor: url(../images/cursor/cursor1.svg), default;
  color: #2c2c3f;
}

div {
  /* border: 1px solid red; */
  margin: 10px;
}

body {
  background-color: #7285b3;
  cursor: url(../images/cursor/cursor1.svg), default;
}

.backgroundScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  margin: 0px;
  padding: 0px;
  block-size: auto;
}

@media (min-width: 700px) {
  .backgroundScreen {
    min-height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    margin: 0px;
    padding: 0px;
    block-size: auto;
  }
}

.boardGame {
  width: 100%;
  margin: 0px;
  max-width: 700px;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/background/background1.svg");
  background-position: center;
  border-radius: 5px;
  border: 2px solid black;
  filter: drop-shadow(16px 25px 10px rgba(0, 0, 0, 0.2));
}

.enemyBox {
  width: 100%;
  height: 35%;
  display: flex;
}

.statusEnemy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
}
.statusEnemyBox {
  background: rgba(145, 163, 190, 0.5);
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 85%;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  margin: 0px;
}

.nameBlockEnemy {
  display: flex;
  align-items: center;
  width: 90%;
  height: 15%;
  margin: 0px;
  background: #d5477a;
  border-radius: 5px;
}

.nameEnemy {
  margin-left: 34rv2, 0px;
  /* font-size: 1.5rem; */
}

.class-level {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 15%;
  margin: 0px;

  border-radius: 5px;
}

.marginRigthText {
  margin-right: 0px;
}

.classBlockEnemy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 100%;
  margin: 0px;
  background: #47d5a3;
  border-radius: 5px;
}

.levelBlockEnemy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 90%;
  margin: 0px;
  background: #7285b3;
  border-radius: 5px;
}

.levelEnemy {
  display: flex;
  align-items: center;
}

.type-power {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 15%;
  margin: 0px;

  border-radius: 5px;
}

.typeBlockEnemy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 100%;
  margin: 0px;
  background: #eba638;
  border-radius: 5px;
}

.powerBlockEnemy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 90%;
  margin: 0px;
  background: #f50e0e;
  border-radius: 5px;
}

.powerEnemy {
  display: flex;
  align-items: center;
}

.hpEnemy {
  display: flex;
  align-items: center;
  width: 100%;
  height: 20px;
  margin: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.textHP {
  margin-right: -5px;
}

.hpBarEnemy {
  background-color: white;
  height: 16px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(23, 23, 23);
}
.hpRealEnemy {
  background-color: crimson;
  height: 16px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.hpRealEnemyText {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  z-index: 20;
  height: 15px; /*deve ser da mesma altura do margin bottom para ficar centralizado*/
  margin-bottom: -15px;
  font-weight: bold;
}

.avatarEnemy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
}

.imageMonster {
  height: 90%;
  width: auto;
}

/* Battle Log Space */

.battleLogBox {
  width: 100%;
  display: flex;
  justify-content: right;
}
.battleLog {
  background: rgba(229, 229, 229, 0.5);
  width: 200px;
  height: 70px;
  border-radius: 5px;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textBattleLog {
  font-size: 17px;
  color: #080707;
}

/* Hero Space */

.heroBox {
  width: 100%;
  height: 35%;
  display: flex;
}

.statusHero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
}

.statusHeroBox {
  background: rgba(145, 163, 190, 0.5);
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 90%;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  margin: 0;
}

.nameBlockHero {
  display: flex;
  align-items: center;
  width: 90%;
  height: 15%;
  margin: 0px;
  background: #d5477a;
  border-radius: 5px;
}

.nameHero {
}

.levelBlockHero {
  display: flex;
  align-items: center;
  width: 90%;
  height: 15%;
  margin: 0px;
  background: #7285b3;
  border-radius: 5px;
}

.levelHero {
  display: flex;
  align-items: center;
}
.hpHero {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
  height: 20px;
}

.textHp {
  margin-right: -5px;
}
.textRg {
  margin-right: -5px;
}

.rgHero {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
  height: 20px;
}

.rgBarHero {
  background-color: white;
  height: 16px;
  width: 90%;
  border-radius: 5px;
  border: 1px solid rgb(23, 23, 23);
}
.rgRealHero {
  display: flex;
  background-color: rgb(224, 121, 36);
  height: 16px;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.rgRealHeroText {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  z-index: 20;
  height: 15px; /*deve ser da mesma altura do margin bottom para ficar centralizado*/
  margin-bottom: -15px;
  font-weight: bold;
}

.hpBarHero {
  background-color: white;
  height: 16px;
  width: 90%;
  border-radius: 5px;
  border: 1px solid rgb(23, 23, 23);
}
.hpRealHero {
  display: flex;
  background-color: crimson;
  height: 16px;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.hpRealHeroText {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  z-index: 20;
  height: 15px; /*deve ser da mesma altura do margin bottom para ficar centralizado*/
  margin-bottom: -15px;
  font-weight: bold;
}

.xpRealHeroText {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  z-index: 20;
  height: 15px; /*deve ser da mesma altura do margin bottom para ficar centralizado*/
  margin-bottom: -15px;
  font-weight: bold;
}

.avatarHero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
}

.imageHero {
  height: 90%;
  width: auto;
}

.xpHero {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
  height: 20px;
}

.textXp {
  margin-right: -5px;
}

.xpBarHero {
  background-color: white;
  height: 16px;
  width: 90%;
  border-radius: 5px;
  border: 1px solid rgb(23, 23, 23);
}

.xpRealHero {
  background-color: rgb(217, 178, 21);
  height: 16px;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Action Menu */

.actionMenu {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  background-color: #d5dded;
  border-radius: 5px;
  border: 2px solid black;
}

.iconAttackWarrior {
  width: 25px;
}
.iconHpRecovery {
  width: 22px;
}
.iconSpecialAttack {
  width: 25px;
}
.btn-attack {
  width: 20%;
  height: 3rem;
  margin: 10px;
  background-color: #eec921;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid black;
  -webkit-appearance: none;
  transition: all 0.2s ease-in;
}
.btn-attack:hover {
  transition: all 0.3s ease-in;
  background-color: #fff314;
}
.btn-attack:active {
  transition: all 0.2s ease-in;
  scale: 2;
  background-color: #fff314;
}

.btn-hpRecovery {
  width: 20%;
  height: 3rem;
  margin: 10px;
  background-color: #e04242;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid black;
  -webkit-appearance: none;
  transition: all 0.2s ease-in;
}
.btn-hpRecovery:hover {
  transition: all 0.3s ease-in;
  background-color: #ff2c2c;
}
.btn-hpRecovery:active {
  transition: all 0.2s ease-in;
  scale: 2;
  background-color: #ff2c2c;
}

.btn-specialAttack {
  width: 20%;
  height: 3rem;
  margin: 10px;
  background-color: rgb(224, 121, 36);
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid black;
  -webkit-appearance: none;
  transition: all 0.2s ease-in;
}
.btn-specialAttack:hover {
  transition: all 0.3s ease-in;
  background-color: rgb(255, 131, 30);
}
.btn-specialAttack:active {
  transition: all 0.2s ease-in;
  scale: 2;
  background-color: rgb(255, 131, 30);
}

/* Tela de inicio */
.modular {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  display: flex;
  width: 100%;
  height: 700px;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  background-color: #7285b3;
  background-image: url("../images/background/backgroundStartGame.svg");
  border-radius: 5px;
  border: 3px solid black;

  width: 94%;

  max-width: 700px;
}
.defeatScreen {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  display: flex;
  width: 100%;
  height: 700px;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  background-color: #f65c5c;
  border-radius: 5px;
  border: 3px solid black;

  width: 94%;

  max-width: 700px;
}
.logotipo {
  max-width: 40%;
  min-width: 40%;
  padding-bottom: 15px;
  padding-top: 100px;
}

.titleRPG {
  font-weight: 400;
}
.descriptionGame {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 18px;
}
.subtitle {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  font-style: italic;
}
.copyright {
  padding-top: 100px;
  font-weight: bold;
  padding-bottom: 10px;
}

.newGame {
  margin-top: 10px;
  width: 40%;
  height: 7%;
  background-color: #47d5a3;
  border: 2px solid black;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.2s ease-in;
}
.newGame:hover {
  transition: all 0.2s ease-in;
  background-color: #5929c2;
  transform: scale(1.1);
}

/*Ativar e desativar inicio do jogo */

.hidden {
  display: none;
}

/* Bordas */

.border1 {
  border: 2px solid black;
}
/* Animação */
.attackAnimationHero {
  animation-name: movingBoxHero;
  animation-duration: 400ms;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
@keyframes movingBoxHero {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(50px, -60px);
  }
}

.attackAnimationMonster {
  animation-name: movingBoxMonster;
  animation-duration: 400ms;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
@keyframes movingBoxMonster {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-50px, 60px);
  }
}

/* .redDisplayReceiveDamage {
  animation-name: redDisplay;
  animation-duration: 300ms;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
@keyframes redDisplay {
  0% {
    background-color: #e04242;
    opacity: 0.8;
  }

  100% {
    background-color: #e04242;
    opacity: 0;
  }
} */

.receiveDamageAnimation {
}
